<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc 
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Component scan -->
    <context:component-scan base-package="com.becoder" />

    <!-- Enable Spring MVC annotations -->
    <mvc:annotation-driven />
<mvc:resources mapping="/resources/**" location="/resources/" />
<mvc:resources mapping="/images/**" location="/images/" />

    <!-- View Resolver -->
    <bean name="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- Transaction Management -->
    <tx:annotation-driven/>

    <!-- DataSource Configuration -->
    <bean name="ds" 
    class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/spring_orm"/>
        <property name="username" value="root"/>
        <property name="password" value="admin"/>
    </bean>

    <!-- Hibernate Session Factory -->
    <bean name="factory" 
    class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
        
        <property name="annotatedClasses">
           <list>
               <value>com.becoder.entity.Emp</value>
               <value>com.becoder.entity.User</value>
               <value>com.becoder.entity.Admin</value>
                <value>com.becoder.entity.Order</value>
           </list>
        </property>
    </bean>

    <!-- Hibernate Template -->
    <bean name="hibernateTemplate" 
    class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="factory"/>
    </bean>
  
    <!-- Transaction Manager -->
    <bean name="transactionManager" 
    class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="factory"/>
    </bean>

    <!-- Optional: Interceptors -->
    <mvc:interceptors>
       <mvc:interceptor>
       <mvc:mapping path="/myProfie"/>
       <bean class="com.becoder.interceptor.AuthInterceptor"></bean>
       
       </mvc:interceptor>
    </mvc:interceptors>
</beans>
